.navbar {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-brand {
  padding: 0;
  .logo {
    background-image: url(/assets/images/logo.png);
    width: 126px;
    height: 51px;
    padding: 0;
    margin: 0 25px;
  }
}