<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="col-sm-12">
      <h1>{{eventName}}</h1>
    </div>

    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Event Detail</h3>
        </div>
        <div class="panel-body">
          <p><strong>Status:</strong> <span ng-show="eventActive">Live</span><span ng-hide="eventActive">Inactive</span></p>
          <p><strong>Event Code:</strong> {{eventCode}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Event Questions</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2">Question</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="question in questions">
                <td>{{question.question}}</td>
                <td class="text-right"><button type="button" class="btn btn-default" id="{{question._id}}" ng-click="vote(question)" ng-disabled="question.hasVoted"><strong>{{question.votes}}</strong> <span class="glyphicon glyphicon-heart
"></span></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Ask a Question</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-success" role="alert" ng-show="success">Your question has been added!</div>
          <p>Before asking, check if there's a similar question to yours.</p>
          <form role="form" ng-submit="ask(form)">
            <div class="form-group"><textarea name="question" class="form-control" rows="3" ng-model="question" required></textarea></div>
            <div class="form-group"><button type="submit" class="btn btn-primary btn-lg">Ask <span class="glyphicon glyphicon-bullhorn"></span></button></div>
          </form>
        </div>
      </div>
    </div>

</div>